#capture
{
	width: 640px;
	height: 480px;
	position: relative;
	overflow: hidden;
}

#barrelOverlay
{
	position: absolute;
	left: 0px;
	top: 0px;
}

#bloodOverlay
{
	width: 640px;
	position: absolute;
	display: none;
}

#ballBlack
{
	position:absolute;
}

#ballWhite
{
	position:absolute;
}

#barrelSong
{
	type: hidden;
}